@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme) important;
@import 'tailwindcss/utilities.css' layer(utilities) important;
@plugin 'tailwindcss-logical';

@theme {
  --radius-none: 0px;
  --radius-xs: var(--mui-shape-customBorderRadius-xs);
  --radius-sm: var(--mui-shape-customBorderRadius-sm);
  --radius: 0.625rem;
  --radius-md: var(--mui-shape-customBorderRadius-md);
  --radius-lg: var(--mui-shape-customBorderRadius-lg);
  --radius-xl: var(--mui-shape-customBorderRadius-xl);
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  --color-primary: var(--primary-color);
  --color-primaryLight: var(--mui-palette-primary-lightOpacity);
  --color-primaryLighter: var(--mui-palette-primary-lighterOpacity);
  --color-primaryDark: var(--mui-palette-primary-dark);
  --color-secondary: var(--mui-palette-secondary-main);
  --color-error: var(--mui-palette-error-main);
  --color-errorLight: var(--mui-palette-error-lightOpacity);
  --color-errorLighter: var(--mui-palette-error-lighterOpacity);
  --color-warning: var(--mui-palette-warning-main);
  --color-info: var(--mui-palette-info-main);
  --color-infoLight: var(--mui-palette-info-lightOpacity);
  --color-infoLighter: var(--mui-palette-info-lighterOpacity);
  --color-success: var(--mui-palette-success-main);
  --color-successLight: var(--mui-palette-success-lightOpacity);
  --color-textPrimary: var(--mui-palette-text-primary);
  --color-textSecondary: var(--mui-palette-text-secondary);
  --color-textDisabled: var(--mui-palette-text-disabled);
  --color-actionActive: var(--mui-palette-action-active);
  --color-actionHover: var(--mui-palette-action-hover);
  --color-actionSelected: var(--mui-palette-action-selected);
  --color-actionFocus: var(--mui-palette-action-focus);
  --color-backgroundPaper: var(--mui-palette-background-paper);
  --color-backgroundDefault: var(--mui-palette-background-default);
  --color-track: var(--mui-palette-customColors-trackBg);
  --color-backdrop: var(--backdrop-color);
  --color-facebook: #4267b2;
  --color-twitter: #1da1f2;
  --color-linkedin: #007bb6;
  --color-googlePlus: #db4437;

  --shadow-xs: var(--mui-customShadows-xs);
  --shadow-sm: var(--mui-customShadows-sm);
  --shadow-default: var(--mui-customShadows-md);
  --shadow-md: var(--mui-customShadows-md);
  --shadow-lg: var(--mui-customShadows-lg);
  --shadow-xl: var(--mui-customShadows-xl);

  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
  --breakpoint-2xl: 1920px;

  --z-header: var(--header-z-index);
  --z-footer: var(--footer-z-index);
  --z-customizer: var(--customizer-z-index);
  --z-search: var(--search-z-index);
  --z-drawer: var(--drawer-z-index);
}

:root {
  --border-radius: var(--mui-shape-borderRadius);
  --border-color: var(--mui-palette-divider);
  --primary-color: var(--mui-palette-primary-main);
  --background-color: var(--mui-palette-background-default);
  --background-color-rgb: var(--mui-palette-background-paperChannel);
  --header-height: 64px;
  --header-z-index: var(--mui-zIndex-appBar);
  --footer-z-index: 10;
  --customizer-z-index: var(--mui-zIndex-drawer);
  --search-z-index: var(--mui-zIndex-tooltip);
  --drawer-z-index: var(--mui-zIndex-drawer);
  --backdrop-color: rgb(var(--mui-mainColorChannels-light) / 0.5);
  --mui-mainColorChannels-shadow: var(--mui-mainColorChannels-lightShadow);
}

[data-dark] {
  --backdrop-color: rgb(16 17 33 / 0.6);
  --mui-mainColorChannels-shadow: var(--mui-mainColorChannels-darkShadow);
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 solid;
    border-color: var(--border-color, currentColor);
  }
}

html {
  display: flex;
  inline-size: 100%;
  min-block-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul:not([class]) {
  margin-block: 1rem;
  padding-inline-start: 40px;
}

/*! Do not remove the following styles */
/*
  Fix the popout / submenu closing issue when using hover trigger to open the menu and using
  perfectscrollbar where the bridge create with safe polygon by floating ui was not working
*/
[data-floating-ui-safe-polygon] .scrollbar-container {
  pointer-events: auto;
}

[data-floating-ui-safe-polygon] .scrollbar-container .ps__rail-y {
  pointer-events: none;
}

.ps__rail-y {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;

  & .ps__thumb-y {
    inset-inline-end: 3px !important;
    inset-inline-start: auto !important;
    background-color: var(--mui-palette-divider);
    inline-size: 6px;

    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: var(--mui-palette-action-disabled) !important;
    }
  }

  &:hover,
  &:focus,
  &.ps--clicking {
    background-color: var(--mui-palette-action-hover) !important;
  }

  &:hover,
  &:focus,
  &.ps--clicking {
    .ps__thumb-y {
      background-color: var(--mui-palette-action-disabled) !important;
    }
  }
}

.ts-vertical-nav-root {
  .ps__thumb-y {
    inline-size: 4px;

    &:hover,
    &:focus,
    &.ps--clicking {
      inline-size: 6px;
    }
  }

  .ps__rail-y {
    inline-size: 10px;

    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: transparent !important;

      .ps__thumb-y {
        inline-size: 6px;
      }
    }
  }
}

:where([class^='ri-']) {
  font-size: 1.5rem;
}

/* Fix width issue for the input-otp component */
input[autocomplete='one-time-code'][data-input-otp='true'] {
  inline-size: 100% !important;
}

code {
  font-family: inherit;
  padding-block: 2px;
  padding-inline: 4px;
  border-radius: 4px;
  font-size: 90%;
  color: var(--mui-palette-info-main);
  background-color: rgb(var(--mui-palette-info-mainChannel) / 0.08);
  border: 0;
}
